* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 90vh;
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  background-size: 2000px 2000px;
  z-index: -2;
  animation: moveStars 250s linear infinite;
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  z-index: -1;
  animation: moveTwinkling 500s linear infinite;
}

@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}
@keyframes moveTwinkling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}
nav {
  background-color: #232323;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-container .nav-element {
  display: flex;
  padding: 10px 0;
  margin: 0 15px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 15px;
  transition: 150ms;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#navbar-container .nav-element:hover {
  background-color: #333;
  transform: scale(1.05);
  cursor: pointer;
}
#navbar-container .nav-element:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
#navbar-container .nav-element a {
  color: #fff;
  text-decoration: none;
  font-family: "Space Mono", serif;
  margin: 0 15px;
  font-size: 16px;
}
#navbar-container .nav-element a span {
  display: block;
}
#navbar-container .nav-element .active {
  color: #33ff33;
  font-weight: bold;
  text-shadow: 0 0 3px #33ff33;
}

footer {
  color: #323232;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#main-container {
  height: 100vh;
  margin-top: 20px;
}
#main-container > * {
  animation: fadeInUp 0.6s ease-in-out forwards;
  opacity: 0;
}
#main-container #selections {
  animation-delay: 0.2s;
}
#main-container #selections button {
  margin: 15px;
  color: #33ff33;
  border: none;
  padding: 8px 12px;
  font-size: 1.1rem;
  border-radius: 25px;
  font-family: "Space Mono", serif;
  background-color: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.1s ease-in-out;
}
#main-container #selections button:hover {
  background-color: rgba(100, 100, 100, 0.5);
  cursor: pointer;
}
#main-container #selections button:active {
  background-color: rgba(100, 100, 100, 0.8);
}
#main-container #terminal {
  height: 60%;
  margin-top: 35px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 80%;
  position: relative;
  animation: 0.4s fadeIn 0.8s ease-in forwards;
}
#main-container #terminal p {
  color: #33ff33;
  font-family: "Space Mono", serif;
}
#main-container #terminal #text {
  margin-left: 10px;
}
#main-container #terminal #header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 2px;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=about.css.map */
