@use 'style';

#main-container{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fade{
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;

    &:nth-of-type(1){
      animation-delay: 2.3s;
    }

    &:nth-of-type(2){
      animation-delay: 2.5s;
    }

    &:nth-of-type(3){
      animation-delay: 2.7s;
    }

    a{
      color: #33ff33;

      &:hover{
        color: #9aff9a;
      }
    }
  }

  #hello-world-container {
    #hello-world {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid #33ff33;
      width: 0;
      animation: typing 1.3s steps(12) 1s forwards, blink-caret 0.75s step-end infinite;
      font-size: 75px;
      color: #33ff33; // Apple II console color :D
      font-family: "Space Mono", serif;
      text-shadow:
              0 0 3px #33ff33,
              0 0 6px #33ff33;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    @keyframes blink-caret {
      50% {
        border-color: transparent;
      }
    }
  }
}
