* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 90vh;
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat;
  background-size: 2000px 2000px;
  z-index: -2;
  animation: moveStars 250s linear infinite;
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png') repeat;
  background-size: 1000px 1000px;
  z-index: -1;
  animation: moveTwinkling 500s linear infinite;
}

@keyframes moveStars {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}

@keyframes moveTwinkling {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}

nav {
  background-color: #232323;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-element {
    display: flex;
    padding: 10px 0;
    margin: 0 15px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 15px;
    transition: 150ms;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #333;
      transform: scale(1.05);
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    a {
      color: #fff;
      text-decoration: none;
      font-family: "Space Mono", serif;
      margin: 0 15px;
      font-size: 16px;

      span{
        display: block;
      }
    }

    .active {
      color: #33ff33;
      font-weight: bold;
      text-shadow: 0 0 3px #33ff33;
    }
  }
}

footer{
  color: #323232;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

#main-container { // temporary
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
